My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
.bash_history
.docker/
.dotnet/
.gitconfig
.idlerc/
.lesshst
Contacts/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
devops/
workflow/
Downloads/
source/

Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
AppData/
NTUSER.*
ntuser.*

